@import '../../../../styles/variables';

// .orange-txt
.orange-txt {
  border-radius: 0 6px 6px 0;
  background-color: #faa41f;
  line-height: 24px;
  display: inline-block;
  padding: 1px 18px 1px 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0;
  font-weight: 700;
  font-size: 12px;
}
