<div [class.open-left]="!menuCollapsed">
  <div class="left-aside">
    <div class="nav-group">
      <div class="title">
        <span class="short-txt">ACT</span>
        <span class="long-txt">ACCOUNT MANAGEMENT</span>
      </div>
      <ul class="nav-list">
        <li>
          <a href="javascript:;" class="tab-items" [routerLink]="['/my-worklist-page']" [routerLinkActive]="'current'">
            <i class="icons icon-worklist"></i>
            <span class="txt"> My Worklist </span>
          </a>
        </li>
        <li>
          <a
            href="javascript:;"
            class="tab-items"
            [routerLink]="['/view-administration-page']"
            [routerLinkActive]="'current'"
          >
            <i class="icons icon-view"></i>
            <span class="txt"> View Administration </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-quick-search"></i>
            <span class="txt"> Quick Search </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-preferences"></i>
            <span class="txt"> Preferences </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-automated"></i>
            <span class="txt"> Automated Views </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-group">
      <div class="title">
        <span class="short-txt">CPT</span>
        <span class="long-txt">CPT MANAGEMENT</span>
      </div>
      <ul class="nav-list">
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-worklist"></i>
            <span class="txt"> My Worklist </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-view"></i>
            <span class="txt"> View Administration </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-quick-search"></i>
            <span class="txt"> Quick Search </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-preferences"></i>
            <span class="txt"> Preferences </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-automated"></i>
            <span class="txt"> Automated Views </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-group">
      <div class="title">
        <span class="short-txt">CUS</span>
        <span class="long-txt">CUSTOM FORMS</span>
      </div>
      <ul class="nav-list">
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-worklist"></i>
            <span class="txt"> Document Library </span>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="tab-items">
            <i class="icons icon-view"></i>
            <span class="txt"> Document Types </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
